<h1 class="d-flex justify-content-center">Ajouter des stages</h1>
<div class="d-flex justify-content-center" >
  <div class="card w-75 text-center">
    <div class="card-header">
      <h3> Importer un fichier pour ajouter des stages </h3>
    </div>
    <form class="md-form" action="#">
      <div class="file-field big-2">
        <div class="btn btn-outline-success waves-effect btn-lg float-left">
          <span>Choose files</span>
          <input ng-change="convertStageCsvToJson(file)" id="fileInput" ng-model="fileInput" type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input  class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
      </div>
    </form>
    <div ng-if="listStages">
      <h2>La liste des stages</h2>
      <p class="text-danger">veuillez vérifier les informations saisies avant de sauvegarder</p>
      <button ng-click="cancelSave()"  class="btn btn-danger btn-lg float-lg-right">Annuler</button>
      <button ng-click="saveStages()"  class="btn btn-success btn-lg float-lg-right">Sauvegarder</button>  
    </div>
    <div class="card text-center" ng-repeat="stage in listStages">
      <div class="card-header">
        <h3> {{stage.titrestage}} </h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Nom de l'entreprise</h5>
        <p class="card-text">{{stage.nomentreprise}}</p>
  
        <h5 class="card-title">Nom du stagiaire</h5>
        <p class="card-text">{{stage.nomEleve}}</p>
  
        <h5 class="card-title">Prénom du stagiaire</h5>
        <p class="card-text">{{stage.prenomEleve}}</p>
  
        <h5 class="card-title">Année</h5>
        <p class="card-text">{{stage.annee}}</p>
  
        <h5 class="card-title">Promo</h5>
        <p class="card-text">{{stage.niveau}}</p>
  
        <h5 class="card-title">Date du début</h5>
        <p class="card-text">{{stage.datedebut}}</p>
  
        <h5 class="card-title">Date de la fin </h5>
        <p class="card-text">{{stage.datefin}}</p>
  
        <h5 class="card-title">Description du stage</h5>
        <p class="card-text">{{stage.description}}</p>
  
        <h5 class="card-title" ng-if="stage.adressestage" >Adresse du stage</h5>
        <p class="card-text">{{stage.adressestage}}</p>
      
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>

  </div>
</div>