<h1 class="d-flex justify-content-center">Ajouter des stages</h1>
<div class="d-flex justify-content-center" >
  <div class="card w-75 text-center">
    <div class="card-header">
      <h3> Importer un fichier pour ajouter des stages </h3>
    </div> 
    <form class="md-form" action="#">
      <div class="file-field big-2">
        <div class="btn btn-outline-success waves-effect btn-lg float-left">
          <span>Choose files</span>
          <input ng-change="convertStageCsvToJson(file)" id="fileInput" ng-model="fileInput" type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input  class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
      </div>
    </form>
    <div ng-if="listStages">
      <h2>La liste des stages</h2>
      <p class="text-danger">veuillez vérifier les informations saisies avant de sauvegarder</p>
      <button  type="button" class="btn btn-danger btn-lg float-lg-right" data-toggle="modal" data-target="#exampleModal">Annuler</button>
      <button ng-click="saveStages()"  class="btn btn-success btn-lg float-lg-right">Sauvegarder</button>  
    </div>
    <div class="card text-center" ng-repeat="stage in listStages">
      <div class="card-header">
        <h3> {{stage.Sujetdustage}} </h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Etudiant</h5>
        <p class="card-text">{{stage.Etudiant}}</p>
  
        <h5 class="card-title">Raison sociale</h5>
        <p class="card-text">{{stage.Raisonsociale}}</p>
  
        <h5 class="card-title">Ville de stage</h5>
        <p class="card-text">{{stage.VilledeStage}}</p>
  
        <h5 class="card-title">Pays de Stage</h5>
        <p class="card-text">{{stage.PaysdeStage}}</p>
  
        <h5 class="card-title">Date de début</h5>
        <p class="card-text">{{stage.Datededebut}}</p>
  
        <h5 class="card-title">Date de fin</h5>
        <p class="card-text">{{stage.Datedefin}}</p>
      
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>
    

  </div>
  <!-- Confirm modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Vous êtes sur le point d'annuler l'enregistrement des stages dans votre base de données. </p>
          <p>Etes-vous sûr de vouloir effectuer cette action ? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
          <button ng-click="cancelSave()" type="button" class="btn btn-danger">Oui</button>
        </div>
      </div>
    </div>
  </div>


</div>