<h1 class="mt-2">Détails sur le stage</h1>

<div class="md-form mt-0" >
  <a href="#!/rechercherStage" class="btn btn-dark">Go Back</a>
  <div class="card text-center" ng-repeat="stage in stageItem">
    <div class="card-header">
      <h3> {{stage.titrestage}} </h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Nom de l'entreprise</h5>
      <p class="card-text">{{stage.nomentreprise}}</p>

      <h5 class="card-title">Nom du stagiaire</h5>
      <p class="card-text">{{stage.nomEleve}}</p>

      <h5 class="card-title">Prénom du stagiaire</h5>
      <p class="card-text">{{stage.prenomEleve}}</p>

      <h5 class="card-title">Année</h5>
      <p class="card-text">{{stage.annee}}</p>

      <h5 class="card-title">Promo</h5>
      <p class="card-text">{{stage.niveau}}</p>

      <h5 class="card-title">Date du début</h5>
      <p class="card-text">{{stage.datedebut}}</p>

      <h5 class="card-title">Date de la fin </h5>
      <p class="card-text">{{stage.datefin}}</p>

      <h5 class="card-title">Description du stage</h5>
      <p class="card-text">{{stage.description}}</p>

      <h5 class="card-title" ng-if="stage.adressestage" >Adresse du stage</h5>
      <p class="card-text">{{stage.adressestage}}</p>
    
      <a ng-click="oneStageJsonToCsv(stage)" class="btn btn-success" >Donwload .csv</a>
      <a ng-click="deleteStage(stage)" class="btn btn-danger">Supprimer</a>
      <a ng-click="initModify(stage)" class="btn btn-warning" data-toggle="modal" data-target="#modifyModal" >Modifier</a>

    </div>
  </div>
</div>


<!-- Modify modal -->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier les informations du stage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Sujetdustage">Sujet Du Stage</label>
            <input type="text" class="form-control" id="Sujetdustage" aria-describedby="SujetdustageHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="NomEtudiant">Nom de l'etudiant</label>
            <input type="text" class="form-control" id="NomEtudiant" aria-describedby="NomEtudiantHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="PrenomEtudiant">Prénom de l'etudiant</label>
            <input type="text" class="form-control" id="PrenomEtudiant" aria-describedby="PrenomEtudiantHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="Raisonsociale">Raison Sociale</label>
            <input type="text" class="form-control" id="Raisonsociale" aria-describedby="RaisonsocialeHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="VilledeStage">Ville de Stage</label>
            <input type="text" class="form-control" id="VilledeStage" aria-describedby="VilledeStageHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="PaysdeStage">Pays De Stage</label>
            <input type="text" class="form-control" id="PaysdeStage" aria-describedby="PaysdeStageHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="Datededebut">Date De Debut</label>
            <input type="text" class="form-control" id="Datededebut" aria-describedby="DatededebutHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="Datedefin">Date De Fin</label>
            <input type="text" class="form-control" id="Datedefin" aria-describedby="DatedefinHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="Nomenseignantencadrant">Nom de l'enseignant encadrant</label>
            <input type="text" class="form-control" id="Nomenseignantencadrant" aria-describedby="NomenseignantencadrantHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="Prenomenseignantencadrant">Prénom de l'enseignant encadrant</label>
            <input type="text" class="form-control" id="Prenomenseignantencadrant" aria-describedby="PrenomenseignantencadrantHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="MailTuteurDesStageDansLentreprise">Mail Tuteur Des Stage Dans L'entreprise</label>
            <input type="text" class="form-control" id="MailTuteurDesStageDansLentreprise" aria-describedby="MailTuteurDesStageDansLentrepriseHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="NomduTuteurDesStagesDansLentreprise">Nom du Tuteur Des Stages Dans L'entreprise</label>
            <input type="text" class="form-control" id="NomduTuteurDesStagesDansLentreprise" aria-describedby="NomduTuteurDesStagesDansLentrepriseHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="PrenomduTuteurDesStagesDansLentreprise">Prénom du Tuteur Des Stages Dans L'entreprise</label>
            <input type="text" class="form-control" id="PrenomduTuteurDesStagesDansLentreprise" aria-describedby="PrenomduTuteurDesStagesDansLentrepriseHelp" placeholder="">
          </div>
          <div class="form-group">
            <label for="Adressedustage">Adresse du stage</label>
            <input type="text" class="form-control" id="Adressedustage" aria-describedby="AdressedustageHelp" placeholder="">
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
        <button ng-click="SaveModifications()" type="button" class="btn btn-danger">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>