<h1 class="mt-2">Statistique des stages</h1>
<div class="md-form mt-0">
  <div id="stat">
    <!-- Insertion de l'API Charts dans la page -->
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      var tab = [
        ['2019', 1],
        ['2020', 2],
        ['2018', 4]
      ];
      // Chargement de l'API Google Charts
      google.charts.load('current', {

        // Définition du package pour le graphique
        packages: ['corechart'],

        // Fonction à exécuter lorsque l'API est téléchargée
        callback: function() {

          // Création de la visualisation "PieChart"
          var chart = new google.visualization.PieChart(document.getElementById('stat'));

          // Formatage des options du graphique
          var options = {
            title : 'Statistique par année',
            width : 400,
            height: 300,
            is3D:true
          };
      
          // Formatage des données
          var data = new google.visualization.DataTable();
      
          data.addColumn('string', 'Year');
          data.addColumn('number', 'Number of internships');
          for(let i = 0; i < tab.length; i++) {
            let j = 0;
            data.addRows([
                [tab[i][j], tab[i][j+1]],
            ]);
          }
      
          // Dessin du graphique avec les données et les options
          chart.draw(data, options);
      
        }
      });
    </script>
  </div>
</div>